@import '../core/variables.scss';

.div{
    
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        @media all and (min-width: 768px) {
            
        }
        @media all and (min-width: 1200px) {
            width: 300px;
       }
        
    }
    &__img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        @media all and (min-width: 768px) {
            width: 50px;
            height: 50px;
        }
        @media all and (min-width: 1200px) {
            width: 100px;
            height: 100px;
       }

    }
    &__texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--title{
            color: $primary_color;
            font-size: 1.8rem;
            padding: 7px;
            font-family: $principal_font;
            @media all and (min-width: 768px) {
                font-size: 1.8rem;
            }
            @media all and (min-width: 1200px) {
                font-size: 2.4rem;
            }

        }
        &--text{
        font-size: 1.2rem;
        text-align: center;
        color: $text_secondary_color;
        font-family: $secondary_font;
        @media all and (min-width: 768px) {
            font-size: 1.8rem;
        }
        @media all and (min-width: 1200px) {
            font-size: 1.6rem;
       }
        }
    }
}