@import '../core/variables.scss';

.footer {
    //border-top: 1px solid rgba(128, 128, 128, 0.31);
    min-height: 10vh;
    max-width: 100vw;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary_color;
    border-radius: 40% 0% 0% 0%;
    @media all and (min-width: 768px) {
        flex-direction: row;
        padding: 15px;
    }
    @media all and (min-width: 1200px) {
        
   }
   &__container{
    margin-top: 50px;
     background-color: $primary_color;
     height: 100px;
     width: 100vw;
    border-radius: 50% 0% 0% 0%;
    display: flex;
    flex-direction: column-reverse;
    gap: 7px;
    align-items: center;
    padding-bottom: 20px;
      &--copy {
      font-size: 1.4rem;
      color: $text_secondary_color;
      text-align: center;
      font-family: $principal_font;
      }
    }
    &__menu{
      display: flex;
      flex-direction: column;
      width: 50vw;
      align-items: flex-end;
      gap: 7px;
      &--item{
        
      }
      &--link{
        color: $text_secondary_color;
        font-size: 1.5rem;
        font-family: $principal_font;
      }
    }
    &__rrss {
      display: flex;
      flex-direction: row;
      &--link {
        color: $text_secondary_color;
        & .icon {
          font-size: 2.3rem;
          margin-right: 5px;
          margin-top: 5px;
          @media all and (min-width: 768px) {
            font-size: 2.4rem;
        }
        @media all and (min-width: 1200px) {
            font-size: 2.5rem;
       }
          &:hover {
            color: $text_primary_color;
          }
        }
      }
    }
  }