.header {
    width: 100vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    gap: 7px;
    
    &__logo {
        width: 180px;
        height: 150px;
        @media all and (min-width: 768px) {
            width: 250px;
            height: 220px;
       }
        @media all and (min-width: 1200px) {
            width: 230px;
            height: 210px;
       }
    }
}