@import '../core/variables.scss';

.hero{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100vw;
    @media all and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    @media all and (min-width: 1200px) {
        
   }
    &__container{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        &--text{
        @media all and (min-width: 768px) {
            max-width: 60vw;
        }
        }
        &--img{
            @media all and (min-width: 768px) {
                max-width: 40vw;
            }
        }
       
       
    }
    &__title{
        font-size: 5rem;
        color: $text_secondary_color;
        @media all and (min-width: 768px) {
            font-size: 7rem;
       }
        @media all and (min-width: 1200px) {
            font-size: 10rem;
       }

    }
    &__text{
        display: none;
        font-size: 1.4rem;
        color: $text_secondary_color;
        @media all and (min-width: 768px) {
            display: contents;
            font-size: 1.8rem;
            color: $text_secondary_color;
       }
        @media all and (min-width: 1200px) {
            font-size: 2.4rem;
       }

    }
    &__buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        line-height: 20px;
        padding-top: 10px;
        font-size: 1.6rem;
        @media all and (min-width: 768px) {
            font-size: 1.4rem;
            line-height: 25px;
       }
        @media all and (min-width: 1200px) {
            font-size: 2rem;
            line-height: 30px;
       }

        &--linkMore{
            background-color: $primary_color;
            width: 120px;
            text-align: center;
            padding: 7px;
            border-radius: 20px;
            color: whitesmoke;
            @media all and (min-width: 768px) {
                width: 120px;
                border-radius: 40px;
           }
            @media all and (min-width: 1200px) {
                width: 150px;
                border-radius: 60px;
           }
            

        }
        &--linkContact{
            background-color: $text_primary_color;
            width: 120px;
            text-align: center;
            padding: 7px;
            border-radius: 20px;
            color: whitesmoke;
            @media all and (min-width: 768px) {
                width: 120px;
                border-radius: 40px;
           }
            @media all and (min-width: 1200px) {
                width: 150px;
                border-radius: 60px;
           }


        }
    }
    &__img {
      padding: 7px;   
    }
}